body {
	background: linear-gradient(rgba(0,0,50,0.5), rgba(0,0,50,0.5));
	background-position: center;
	background-image: url(https://www.elsetge.cat/myimg/f/37-370605_ten-advantages-of-wallpaper-soothing-for-eyes-and.jpg)
}

.login-box {
	max-width: 400px;
	float: none;
	margin: 150px auto;
}

.login-left {
	background: rgba(211, 211, 211, 0);
	padding-left: 30px;
}

.form-control {
	background-color: transparent !important;
}

label ,h2{
	color: white;
}

input {
	width: 100% !important;
}

h3 {
	/*color: white;*/
	padding: 0px;
	margin: 0px;
}

p {
	color: white;
	font-size: 20px;
}

/*################## Nav Bar #####################*/

nav {
	width: 100%;
	margin: 0;
}

nav ul {
	background-color: #eee;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

ul.topnav li {
	list-style: none;
	float: left;
}

ul.topnav li.topnav-right {
	float: right;
}

ul.topnav li a {
	display: block;
	text-decoration: none;
	min-height: 16px;
	text-align: center;
	padding: 14px;
	text-transform: uppercase;
	color: #333333;
	font-weight: bold;
}

ul.topnav li a:hover {
	background-color: #333333;
	color: white;
}

ul.topnav li.dropdownicon {
	display: none;
}

/*################# MOBILE #####################*/


@media screen and (max-width: 680px) 
{
	ul.topnav li:not(:nth-child(1)) 
	{
		display: none;
	}

	ul.topnav li.dropdownicon {
	display: block;
	float: right;
	}

	ul.topnav.responsive li.dropdownicon {
		position: absolute;
		top: 0;
		right: 0;
	}

	ul.topnav.responsive {
		position: relative;
	}

	ul.topnav.responsive li {
		display: inline;
		float: none;
	}

	ul.topnav.responsive li a {
		display: block;
		text-align: left; 
	}
