/*################ Defaults #################*/

nav, 
header, 
footer {
	display: block;
}

body {
	line-height: 1;
	margin: 0;
}

label {
	font-size: 25px;
	font-weight: bold;
}

p {
	font-size: 20px;
	line-height: 1.2;
}

.container {
	width: 100%;
	margin: auto;
	padding-top: 4%;
	padding-bottom: 4%;
}

.row {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.row::after {
	display: table;
	clear: both;
	content: "";
}

.col-1 { width: 8.33%; }
.col-2 { width: 16.66%; }
.col-3 { width: 25%; }
.col-4 { width: 33.33%; }
.col-5 { width: 41.66%; }
.col-6 { width: 50%; }
.col-7 { width: 58.33%; }
.col-8 { width: 66.66%; }
.col-9 { width: 75%; }
.col-10 { width: 83.33%; }
.col-11 { width: 91.66%; }
.col-12 { width: 100%; }


* {
	/* this code will include margin and padding in the total size of that element*/
	box-sizing: border-box; 
}

/*################## Nav Bar #####################*/

nav {
	width: 100%;
	margin: 0;
}

nav ul {
	background-color: #eee;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

ul.topnav li {
	list-style: none;
	float: left;
}

ul.topnav li.topnav-right {
	float: right;
}

ul.topnav li a {
	display: block;
	text-decoration: none;
	min-height: 16px;
	text-align: center;
	padding: 14px;
	text-transform: uppercase;
	color: #333333;
	font-weight: bold;
}

ul.topnav li a:hover {
	background-color: #333333;
	color: white;
}

ul.topnav li.dropdownicon {
	display: none;
}

/*################ CUSTOMS STYLES ####################*/

.science {
	text-decoration: none;
	padding: 20px;
	display: block;
}

.commerce , .science, .diploma, .arts{
	padding: 20px;
	position:  center ;
}

/*######  Animation on image links  #######*/

/* [1] The container */
.col-6 {
  height: 300px; /* [1.1] Set it as per your need */
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.commerce img {
  transition: transform .5s ease;
}

.science img {
  transition: transform .5s ease;
  display: block;
}

.diploma img {
  transition: transform .5s ease;
  display: block;
}

.arts img {
  transition: transform .5s ease;
  display: block;
}


/* [3] Finally, transforming the image when container gets hovered */
.col-6:active img {
  transform: scale(1.5);
  background-color: pink;
  opacity: 0.8; 
}

.col-6:hover img {
  transform: scale(1.5);
}

p {
	display: block;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 2px 2px, 5px;
	background-color: #f3f0f5;
	margin: 20px;
}
